@tailwind base;
@tailwind components;
@tailwind utilities;
@import './base/base';
@import './base/color';
@import './base/text';
@import './components/nav';
@layer base {
  :root {
    --background: 267 61% 98%;
    --foreground: 267 69% 1%;
    --muted: 267 26% 88%;
    --muted-foreground: 267 7% 34%;
    --popover: 267 61% 98%;
    --popover-foreground: 267 69% 1%;
    --card: 267 61% 98%;
    --card-foreground: 267 69% 1%;
    --border: 267 2% 91%;
    --input: 267 2% 91%;
    --primary: 267 71% 49%;
    --primary-foreground: 0 0% 100%;
    --secondary: 267 20% 91%;
    --secondary-foreground: 267 20% 31%;
    --accent: 267 30% 85%;
    --accent-foreground: 267 30% 25%;
    --destructive: 2 84% 42%;
    --destructive-foreground: 0 0% 100%;
    --ring: 267 71% 49%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 267 43% 1%;
    --foreground: 267 27% 100%;
    --muted: 267 26% 12%;
    --muted-foreground: 267 7% 66%;
    --popover: 267 43% 1%;
    --popover-foreground: 267 27% 100%;
    --card: 267 43% 1%;
    --card-foreground: 267 27% 100%;
    --border: 267 2% 11%;
    --input: 267 2% 11%;
    --primary: 267 71% 49%;
    --primary-foreground: 0 0% 100%;
    --secondary: 267 18% 13%;
    --secondary-foreground: 267 18% 73%;
    --accent: 267 25% 22%;
    --accent-foreground: 267 25% 82%;
    --destructive: 2 84% 45%;
    --destructive-foreground: 0 0% 100%;
    --ring: 267 71% 49%;
  }
}
