$bg: radial-gradient(227.55% 102.35% at 8.8% 55.69%,
        #F3E7FF 0%,
        #F9F2FF 33.33%,
        #FFFDFE 66.67%,
        #FCF9FF 83.5%);
$fondMenu : $bg;
$base : #A17DAE;
$bg-text :rgb(59 130 246 / 0.5);
$fond_clair : #FDFBFE